@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  
  color: #35374B;
 /* background: #d7c4f00c
  /*
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);  */
}


